body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}
a{
    color:rgb(0, 0, 0);
    background-color: rgba(254, 203, 162, 0.649);
    border: 2px solid rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1, h2{
    text-align: center;
}
img{
    border: 5px solid rgb(0, 0, 0);
    padding: 5px; 
    height: 250px;
    margin: auto;
    display: block;
}
.rizz{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(0, 0, 0);
    font-size: 400x;
    font-weight: bolder;
}
    li:hover{
        text-decoration: underline;
        background-color: rgba(248, 161, 85, 0.467);
        background-repeat: no-repeat;
        background-size: cover;

}